.btn{
    border-radius: 0;
}
.select{
    border:1px solid #cccccc;
    padding: 5px 40px;
}
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CDCDCD;
    font-family: "微软雅黑";
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
    background: #efefef;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title span.icon {
    padding: 9px 10px 7px 11px;
    float: left;
    border-right: 1px solid #dadada;
}
.widget-title h5 {
    color: #666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-content {
    padding: 15px;
    position: relative;
}
.table{
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
}
.table th {
    height: auto;
    font-size: 10px;
    padding: 5px 10px 2px;
    border-bottom: 0;
    text-align: center;
    color: #666666;
}

.table td{
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}
.table td a{
    color: #428bca;
    margin-left: 5px;
}
.table td .recipeImg{
    width: 50px; height: 50px;
}
.table.recipeTable td{
    line-height: 50px;
}

.dataTables_info {
    float: left;
    font-size: 12px;
    padding-top: 4px;
}
.dataTables_paginate {
    line-height: 16px;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 12px;
}
.dataTables_paginate .ui-button, .pagination.alternate li a {
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background: #f5f5f5;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
}
.dataTables_paginate .first {
    border-radius: 4px 0 0 4px;
}
.dataTables_paginate .ui-state-disabled, .fc-state-disabled, .pagination.alternate li.disabled a {
    color: #AAAAAA !important;
}
.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a {
    background: #41BEDD !important;
    color: #ffffff !important;
    cursor: default !important;
}
.dataTables_filter{
    float: left;
}
.dataTables_filter input{
    border:1px solid #cccccc;
    padding: 3px 5px;
    margin-bottom: 5px;
}
.operation{
    margin-bottom: 10px;
}
.operation .btn{
    padding: 3px 10px;
    margin-top: -2px;
}
.operation input{
    padding: 3px 5px;
    border: 1px solid #cccccc;
    width: 160px;
}
.layer-box{
    padding: 15px ;
    font-family: "微软雅黑";
}
.layer-btn{
    padding: 5px 20px;
}
.form-horizontal .control-label{
    padding:5px;
    text-align: right;
}
.form-horizontal .form-group{
    position: relative;
}
.yuan{
    position: absolute;
    top:5px ;
    right: 52%;
}
.padding-r25{
    padding-right: 25px;
}
.padding-15{
    padding: 15px;
}
.nav-tabs li a{border: none;padding:6px 12px;border-radius: 0;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
     background-color: #23b7e5;
}
.apply-detail{
    padding: 15px;
}
.apply-detail .nav-tabs{
    font-family: "微软雅黑";
}
.apply-detail .inner-box{}
.apply-detail .row{
    margin:10px 0 0 0;
}
.apply-detail #applyDetail hr{
    margin-top: 10px;
    margin-bottom: 10px;}
.apply-detail .text-div{
    padding: 5px 0;
    box-sizing: border-box;
}
.apply-detail .text-div .text-l{
    display: inline-block;
    width: 120px;
    padding-left: 15px;
    font-size: 13px;
    float: left;
}
.apply-detail .text-div .text-r{
    color: #2a6496;
}
.apply-detail .tab-content{
    border: 1px solid #eeeeee;
    background: #ffffff;
    padding: 0 0 15px;
}
.apply-detail h5{
    font-family: "微软雅黑";
    letter-spacing: 2px;
}
.navi .nav-sub{
    margin-left: 0;
    padding-left: 15px;
}
.apply-detail .text-div .text-r input{
    padding: 0 5px;
}
.import-block .tab-content{
    padding: 15px;
}
.import-block  .importList,.outport-block .importList{
    width: 100%;
    height: 300px;
    border: 1px solid #dddddd;
    margin-top: 10px;
    background: #ffffff;
}
.home div.text-div{
    padding: 15px;
    float: left;
    box-sizing: border-box;
}
.operation .file-panel{
    width: 300px;
    height: 30px;
    float: right;
    position: relative;
    margin-right: 10px;
    margin-top: -2px;
}
.operation .file-panel .file-input{
    width: 100%;
}
.operation .file-panel .file-box{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
}
.file-input{
    background: #e8e8e8;
    border: 1px solid #999999;
    border-radius: 4px;
}
.file-panel{
    position: relative;
}
.file-box{
    position: relative;
    float: left;
    margin-right: 5px;
}
.file-box .file{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.importList ul{
    margin: 0;
    padding: 5px ;
    list-style: none;
}
.importList ul li{
    padding: 3px;
}
.import-block .fileAdrr{
    width: 200px;
    height: 34px; border: 1px solid #dddddd;
    float: left;
    margin-right: 5px;
    padding: 5px 8px;
}
.import-block .top{
    margin-bottom: 5px;
}
.form-horizontal .input-groups{padding: 10px 20px 10px 120px; position: relative; overflow: hidden; width: 100%;}
.form-horizontal .input-groups label{width: 120px; text-align: right; color:#a5b1ba; position: absolute;
    font-weight: lighter; left: 0; top:20px;}

.form-horizontal .input-groups select{
	margin-right: 10px;
	height: 41px;
}   
   
.form-horizontal .double-input>div{width: 50%; float: left; position: relative; }
.form-horizontal .input-groups input[type='text'],
.form-horizontal .input-groups textarea
{width: 100%; border-bottom:1px solid #e4ebf5; border-top:none;border-left:none;border-right: none;padding: 10px;}
.form-horizontal .input-groups textarea{
    border:1px solid #e4ebf5; height: 80px;
}
.form-horizontal .input-groups.btns .btn:nth-child(2){margin-right: 10px;}
.form-horizontal .input-groups.sel-input span.icon{display: block; position: absolute; font-size: 24px;top:18px; left: 130px; }
.form-horizontal .input-groups.sel-input input{padding-left: 40px;}
.form-horizontal .date .add-on{display: block;position: absolute;top:22px; right: 20px; color: #666;}
.form-horizontal .file-box{width: 100%; height: 40px; position: absolute; z-index: 11; top:10px;}
.form-horizontal .checkbox-box{float: left; margin-right: 15px; padding: 10px;}
.form-horizontal .checkbox-box input[type='checkbox']{margin-right: 5px; float: left;}
.table td a.disable{color: #cccccc; cursor: default;}
ul.pagination{margin: 20px auto;}

.table img.banners{
   max-width: 200px;
}
.bannerBox .table td {
    line-height: 80px;
}
.profileBox .content .panel{
    padding: 15px;
    line-height: 30px;
}
.img-block{
    width:100%;
}
.img-block img{
    width: 100%;
    margin: 0 auto 20px;
    display: block;
}
.img-block2 .operation .file-panel{
 float: left;
}
.img-block2  img{
 margin-bottom: 15px;
}
.edit-block{
    padding-top: 15px;
}
.edit-block .operation{
    width:360px;
    margin-top: 20px;
}
.form-horizontal .operation .file-panel{
    height: 42px;
}
.edit-block .edit-block-img{
    display: block;
}
.knowUsBox .edit-block{
    width: 800px;
}
.index .reportBox .table img{
    width: 160px;
}
.index .reportBox .table td{line-height: 60px;}

.team-table img{
    max-width: 150px;
}

#tbody tr td:last-of-type{
	width : 150px !important;
	padding : 0;
	padding-top : 15px;
}

.table-condensed .today {
    background: #cccccc;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    color: #ffffff;
}