/* 重设mand-mobile toast 轻提示 */
.md-toast > .md-popup > .md-popup-box .md-toast-content {
  padding: 10px;
  font-size: 16px;
  color:#fff;
}
/* 时间控件 */
.md-date-picker > .md-picker > .md-popup > .md-popup-box > .md-popup-title-bar {
  height: 40px;
}
.md-date-picker > .md-picker > .md-popup > .md-popup-box > .md-popup-title-bar > div {
  font-size: 16px;
}