header {
  height: 90px;
  width: 100%;
  text-align: center;
}

header img {
  width: 153px;
  height: 38px;
  margin-bottom: 30px;
}

header ul {
  display: block;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

header ul li {
  float: left;
  margin: 0 50px 0 0;
  height: 88px;
  line-height: 88px;
  width: 85px;
  cursor: pointer;
  font-size: 14px;
  display: block;
}

header ul li:hover {
  color: #008842;
}

header ul li.active {
  color: #008842;
  /* border-bottom: 2px solid #008842; */
  font-weight: 600;
  opacity: 1!important;
}

.tab-div {
  display: inline-block;
  margin-left: 95px;
  position: relative;
}

.border-span {
  position: absolute;
  bottom: 4px;
  height: 2px;
  left: 0;
  background: #008842;
  width: 85px;
  z-index: 1;
}

header ul li.join {
  border: 2px solid #008842;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 20px 0;
  border-radius: 30px;
  opacity: 0.6;
}

.banner img {
  width: 100%;
  height: 100%;
}

.home{
  margin-bottom: 30px;
}
.home ul {
  text-align: center;
  margin: 30px 0;
}

.home ul li.title {
  margin: 50px 0;
}
.home ul li.title img{
  width: 380px;
  height: 72px;
}

.home ul li div {
  display: inline-block;
  margin: 0 50px;
}

.home ul li img {
  margin-bottom: 10px;
}

.home ul li p {
  font-size: 14px;
}

.rights ul li div {
  margin: 0 50px 40px;
}

.plan ul li p {
  text-align: center;
  font-size: 15px;
  margin: 5px 0;
  color: #484848;
}

.about ul li p {
  text-align: left;
  font-size: 15px;
  margin: 5px 0;
  color: #484848;
  text-indent: 25px;
}

.join ul li {
  display: inline-block;
}

.join ul li p {
  text-align: left;
  font-size: 16px;
  margin: 5px 0;
  color: #484848;
  line-height: 30px;
}

.join ul li span {
  width: 230px;
  height: 60px;
  border: 1px solid #999999;
  line-height: 60px;
  font-size: 18px;
  margin-right: 40px;
  margin-bottom: 35px;
  float: left;
  cursor: pointer;
}

.join ul li span.active {
  background: #089842;
  color: white;
  border: 1px solid white;
}

.join ul li p.weight {
  font-weight: 700;
}

.join ul li.contact {
  display: block;
}

footer {
  background: #1F1F1F;
  width: 100%;
  height: 200px;
  color: #7D7D7D;
}

.box {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.boxPlan {
  width: 525px;
  height: 100%;
  margin: 0 auto;
}

footer ul {
  margin-top: 50px;
  display: inline-block;
}

footer ul li {
  margin: 15px 0;
  font-size: 14px;
}

footer .wx {
  margin-top: 30px;
  float: right;
  text-align: center;
}

.hide {
  display: none !important;
}

.hover-img {
  cursor: pointer;
  transition: all 0.3s;
}

.hover-img:hover {
  transform: scale(1.1);
}
