html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-size: 12px;
  color: #333333;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none
}

div,
p,
ul,
li,
span,
i,
b {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellips {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/* 宽度 */
.width-60 {
  width: 60px;
}

.width-70 {
  width: 70px;
}

.width-80 {
  width: 80px;
}

.width-90 {
  width: 90px;
}

.width-100 {
  width: 100px;
}

.width-120 {
  width: 120px;
}

.width-130 {
  width: 130px;
}

.width-140 {
  width: 140px;
}

.width-150 {
  width: 150px;
}

.width-160 {
  width: 160px;
}

.width-170 {
  width: 170px;
}

.width-180 {
  width: 180px;
}

.width-190 {
  width: 190px;
}

.width-210 {
  width: 210px;
}

.width-240 {
  width: 240px;
}

.width-280 {
  width: 280px;
}

.width-310 {
  width: 310px;
}

.rf {
  float: right;
}

.lf {
  float: left;
}

/*scrollbar*/

::-webkit-scrollbar {
  height: 14px;
  overflow: visible;
  width: 14px;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0px 0px 0px 7px;
  border-radius: 8px;
}

::-webkit-scrollbar-track:hover {
  background-clip: padding-box;
  background-color: #dcdcdc;
  border: solid transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
  border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .3);
  background-position: -10px center;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, .4);
  background-position: -20px center;
}

.wk-scrolltimedevents {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #DDD;
  border-left: 0 none;
  border-bottom: 1px solid #DDD;
  padding: 0;
  font-size: 12px;
  line-height: normal;
}

/*menu*/
.el-submenu__title {
  height: 45px !important;
  line-height: 45px !important;
  font-size: 16px;
}

.el-submenu.is-active>.el-submenu__title {
  color: #f6d200 !important;
}

.el-submenu>.el-submenu__title>.el-submenu__icon-arrow {
  color: #1271b5 !important;
}

/*dialog*/
.el-dialog {
  border-radius: 5px;
  overflow: hidden;
}

.el-dialog__header {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 15px;
  background-color: #e5e5e5;
  border: 1px solid #dddddd;
}

.el-dialog__headerbtn {
  top: 12px;
  right: 15px;
}

.el-dialog__footer {
  height: 50px;
  background-color: #e5e5e5;
}

.el-dialog__headerbtn .el-dialog__close {
  color: #a6a6a6;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #a6a6a6;
}

/*table*/
.el-table th,
.el-table td {
  padding: 7px 0;
}

.el-table .cell {
  height: 24px;
  line-height: 24px;
}

.table-operate-btn>.cell>span,
.table-operate-btn>span {
  color: #0958a5;
  padding: 6px 8px;
  cursor: pointer;
}

.el-table__body tr.current-row>.table-operate-btn>.cell>span,
.el-table__body tr.current-row>td .el-button--text {
  color: #fff;
}

/*button*/
.el-button--default:hover {
  border: 1px solid #999999;
  color: #333333;
  background-color: #fff;
}

/* input */
.el-input {
  font-size: 12px;
}

.el-input__inner {
  padding: 0 6px;
}

/*select*/
.el-select>.el-input {
  font-size: 12px;
}

/*el-select-group*/
.el-select .el-select__tags>span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

/* 分页 */
.surety-pagination {
  bottom: -40px;
}
